/* --- CSS Reset ---*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- Global-box sizing --- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ---  Custom CSS below --- */

body {
  background-color: #fff;
  font-size: 16px;
}

.imageSet {
  position: relative;
  max-width: 1000px;
  max-width: 500px;
  margin: 2rem auto;
  
}
.imageSet img {
  position: absolute;
  max-width: 100%;
  height: auto;
  border: 7px solid white;
  box-shadow: 0px 2px 7px 4px rgba(0,0,0,0.5);
}


/* --- Filter styles --- */
.imageSet img:nth-child(1) {
  filter: grayscale(100%) sepia(0%) contrast(80%) saturate(5);
}
.imageSet img:nth-child(1):hover {
  filter: none;
}
.imageSet img:nth-child(2) {
  filter: grayscale(100%);
}
.imageSet img:nth-child(2):hover {
  filter: grayscale(0);
}
.imageSet img:nth-child(3) {
  filter: blur(3px);
}
.imageSet img:nth-child(3):hover {
  filter: blur(0);
}


/* --- Start positioning --- */
.imageSet img:nth-child(1) {
  z-index: 3;
  margin-left: -1rem;
  transform: rotate(-5deg);
}
.imageSet img:nth-child(2) {
  z-index: 2;
}
.imageSet img:nth-child(3) {
  z-index: 1;
  margin-left: 1.5rem;
  transform: rotate(5deg);
}


/* --- Hover positioning --- *
.imageSet img:nth-child(1):hover {
  margin: 0;
  transform: rotate(0deg);
  transition: all 0.2s ease-out;
}
.imageSet img:nth-child(1):hover ~ img:nth-child(2) {
  margin-top: 200px;  /* TODO : Magic number *
  transition: all 0.2s ease-out;
}
.imageSet img:nth-child(1):hover ~ img:nth-child(3) {
  margin: 430px 0 0; /* TODO : Magic number *
  transform: rotate(0deg);
  transition: all 0.2s ease-out;
}

*/





/* TODO : Continue*/
.imageSet:hover {

}
.imageSet:hover img:nth-child(1) {
  margin: 0;
  transform: rotate(0deg);
  transition: all 0.3s ease-out;
} 
.imageSet:hover img:nth-child(2) {
  margin-top: 190px;  /* TODO : Magic number */
  transition: all 0.3s ease-out;
}
.imageSet:hover img:nth-child(3) {
  /* BUG : Weird render glitch on item hover */
  margin: 410px 0 0;  /* TODO : Magic number */
  transform: rotate(0deg);
  transition: all 0.3s ease-out;
}








/* BUG: Adjancent sibling prevents styling nth-child(1) */
/* .imageSet img:nth-child(2):hover + img:nth-child(1) {
  margin: 0;
  transform: rotate(0deg);
  transition: all 0.2s ease-out;
}
.imageSet img:nth-child(2):hover {
  margin-top: 200px;
  transition: all 0.2s ease-out;
}
.imageSet img:nth-child(2):hover ~ img:nth-child(3) {
  margin: 430px 0 0;
  transform: rotate(0deg);
  transition: all 0.2s ease-out;
} */
